<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
	<appSettings>
		<add key="ABCNewsURL" value="http://abc.net.au/news/"/>
		<add key="ABCRadioURL" value="http://www.abc.net.au/radionational/"/>
		<add key="URLpart1" value="http://"/>
	   <add key="URLpart2" value="program.abcradio.net.au/api/v1/programs/"/>
		<add key="Environment" value=""/>
		<add key="ProgramUniqueID" value="ppJj0E8g2R.json"/>
	</appSettings>
	
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>